body {
  background-color: #d3c4dc;
}

main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 120px;
}

.name {
  font-size: 25px;
  padding-left: 10px;
  margin-top: 2px;
}

.produktnavn {
  padding-left: 10px;
}

h2 {
  font-size: 30px;
}

#logo {
  width: 200px;
  height: 200px;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

.threegrid {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
}

.articlegrid {
  display: grid;
  justify-content: center;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  /* rows er implicitte, der bliver bare så mange som der er brug for */
}

article {
  position: relative;
  background-color: #39a8c6;
  border-radius: 10px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
}

.horizontalhalf {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  background-color: #39a8c6;
  border-radius: 10px;
}

.horizontalhalfs {
  display: grid;
  gap: 4em;
  grid-template-columns: 1fr 1fr;
  background-color: #39a8c6;
  border-radius: 10px;
}

.seasons {
  font-size: 30px;
}

.readMore {
  padding-left: 5px;
  color: pink;
}

.productxt {
  font-size: 25px;
}

.brand {
  padding: 10px;
  font-size: 25px;
}

.price {
  padding: 5px;
  font-size: 25px;
}

.pris {
  padding: 10px;
  font-size: 25px;
}

.discount {
  padding: 10px;
  font-size: 25px;
}

.description {
  padding: 18px;
}

.ribbon-wrap {
  display: none;
  width: 152px;
  height: 152px;
  overflow: hidden;
  position: absolute;
  top: -10px;
  left: -10px;
}

.ribbon-wrap::before,
.ribbon-wrap::after {
  display: none;
  content: "";
  width: 10px;
  height: 10px;
  background: #f2467b;
  position: absolute;
  z-index: -1;
}

.ribbon-wrap::before {
  top: 0;
  right: 0;
}

.ribbon-wrap::after {
  bottom: 0px;
  left: 0px;
}

.productlistimg {
  border-radius: 10px 10px 0px 0px;
}

.ribbon {
  display: none;
  width: 225px;
  font-size: 18px;
  text-align: center;
  padding: 8px 0;
  background: #ff2166;
  color: #fff;
  position: absolute;
  transform: rotate(-45deg);
  right: -17%;
  top: 29%;
  z-index: 1;
}

article.soldout .ribbon,
.ribbon-wrap {
  display: block;
}

.badge {
  display: none;
  position: absolute;
  font-size: 18px;
  background-color: rgb(0, 255, 38);
  color: rgb(28, 3, 3);
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  z-index: 0;
}

article.discount .badge {
  display: block;
}
