body {
  background-color: #d3c4dc;
}

main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 120px;
}

.name {
  font-size: 25px;
  padding-left: 10px;
  margin-top: 2px;
}

.produktnavn {
  padding-left: 10px;
}

h2 {
  font-size: 30px;
}

#logo {
  width: 200px;
  height: 200px;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

.threegrid {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
}

.articlegrid {
  display: grid;
  justify-content: center;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  /* rows er implicitte, der bliver bare så mange som der er brug for */
}

article {
  background-color: #39a8c6;
  border-radius: 5px;
}

.horizontalhalf {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr;
  background-color: #39a8c6;
  border-radius: 10px;
}

.horizontalhalfs {
  display: grid;
  gap: 4em;
  grid-template-columns: 1fr 1fr;
  background-color: #39a8c6;
  border-radius: 10px;
}

.seasons {
  font-size: 30px;
}

.readMore {
  padding-left: 5px;
  color: pink;
}

.productxt {
  font-size: 25px;
}

.onSale {
  max-width: 100%;
}

.soldOut {
  max-width: 100%;
}

.brand {
  padding: 10px;
  font-size: 25px;
}

.price {
  padding: 5px;
}

.pris {
  padding: 10px;
  font-size: 25px;
}

.discount {
  padding: 10px;
  font-size: 25px;
}

.description {
  padding: 18px;
}
